
p {
    font-style: italic;
    font-weight: 700;
    color: firebrick;
}

input, textarea {
    resize: none;
}

input:focus{
    background-color: aliceblue;
}

h1 {
    font-style: italic;
    font-family: cursive;
    border: 4px groove;
    
}

body{
    background-color: aliceblue;
    font-family: 'Courier New', Courier;
    font-size:15px;
}

button{
    width: 150px;
    height: 60px;
    font-size: 15px;
    float: right;
}

#logo{
    float: right;
    padding: 100px;
}

